<% if flash[:complete] %>
<p><%= flash[:complete] %> <p>
<% end %>

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <table class='table'>
  <tr><%= image_tag @user.get_profile_image %></tr>
  <tr>
    <th>name</th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
  <th>introduction</th>
  <th><%= @user.introduction %></th>
  </tr>
  </table>
   <div class='row'>
     <% if @user == current_user %>
       <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
        <% else %>
        <%= link_to user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
       <% end %>
   </div>
   <h2 class="mt-3">New book</h2>
       <%= form_with model: @book do |f| %>
       <label>Title</label>
        <div class="form-group">
          <%= f.text_field :title %>
        </div>
        <label>Opinion</label>
        <div class="form-group">
          <%= f.text_area :body %>
        </div>
        <div class="form-group">
          <%= f.submit 'Create Book', class: "btn btn-success" %>
        </div>
        <% end %>
    </div>




<div class='col-md-8 offset-md-1'>
<h2>Book detail</h2>
<table class='table'>
  		  <tr>
  		    <td>
  		    <%= link_to user_path(@user) do %>
  		    <%= image_tag @book.user.get_profile_image %>
  		    <br>
  		    <% end %>
  		    <%= link_to user_path(@user) do %>
  		    <%= @book.user.name %>
  		    <% end %>
  		    </td>
  		    <td><%= link_to book_path(@book) do %>
  		    <%= @book.title %>
  		    <% end %>
  		    </td>
  		    <td><%= @book.body %></td>
  		    <% if @book.user == current_user %>
  		    <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
  		    <% end %>
  		    <% if @book.user == current_user %>
  		    <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
  		    <% end %>
  		    </tr>
      </table>
    </div>
  </div>
</div>